# General
bin/
tmp/
dist/
*.tmp

# Maven
target/

# Java
*.class

# Eclipse
.settings/
.classpath
.project
*.jardesc

# Intellij
out/
.idea/
*.iml
*.iws

# local folder for experimenting
sandbox/
*.DS_Store
